/* _base.css */

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

* {
  font-size: 8px;
  font-family: 'Audiowide', cursive;
  /* font-family: 'Press Start 2P', cursive; */
  /* font-family: 'Source Code Pro', monospace; */
}

header {
  display:flex;
  justify-content: center;
  margin: 20px 0 20px 0;
}

h1{
  font-size: 4em;
  font-weight:normal;
}

h2{
  font-size: 2em;
  font-weight:normal;
  margin: 20px 0 5px 0;
}

#game-area span{
  font-size: 2em;
  font-weight:normal;
  margin: 10px 10px 0 0;
}

#game-area progress{
  font-size: 1.6em;
  margin: 12px 0 0 0;
  background-color: green;  
}

#menu-area ul{
  padding: 0;
}

#menu-area ul li{
  font-size: 4em;
  font-weight:normal;
  margin: 50px 0;
  text-align: center;
  list-style: none;
}