#game-area {
  margin: auto;
  width: 640px;
  height: 580px;
  padding: 45px;
  box-sizing: border-box;
  border: 1px solid black;
}

#game-canvas {
  margin: auto;
  display: block;
  border:  1px solid black;
  }

  #points-container-all {
    display: flex;
    justify-content: space-between;
  }
  
  .health-container {
    display: flex;
  }
  
  .score-container {
    display: flex;
  }

.button-container{
  display: flex;
  margin: 20px;
  justify-content: flex-end;
}

